sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "8"

cache:
  npm: true
  directories:
  - client/node_modules
  - server/node_modules

services:
  - mongodb

before_install:
  - npm install -g npm@latest codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - cd server && npm install
  - cd ../client && npm install

script:
  # Server
  - cd ../server
  - npm run lint
  - npm run test

  # Client
  - cd ../client
  - npm run lint
  - npm run test
  - npm run e2e
  - npm run build -- --prod --aot

after_script:
  - cd ../server && npm run coverage
  - codecov
  - nsp check
