<div class="registration-wrapper" fxLayout="column" fxLayoutAlign="center none">
  <h2>ברוך הבא לעמוד רישום</h2>
  <mat-form-field color="accent">
    <input matInput placeholder="תעודת זהות" maxlength="9">
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="סיסמה">
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="אימות סיסמה">
  </mat-form-field>

  <div class="card-info-wrapper">

    <h3>פרטי כרטיס אשראי</h3>

    <mat-form-field color="accent">
      <input matInput placeholder="מספר כרטיס">
    </mat-form-field>

    <div class="additional-info" fxLayout="row" fxLayoutAlign="space-between none">

      <mat-form-field color="accent">
        <input matInput placeholder="CVV" maxlength="3" (keypress)="onlyNumbers($event)">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="חודש">
          <mat-option *ngFor="let month of months" [value]="month">
            {{ month }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="שנה">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>

  <button mat-raised-button color="accent">התחבר</button>

  <div class="login-wrapper">
    <a [routerLink]="['/login']">נרשמת בעבר?</a>
  </div>
</div>
