<div class="registration-wrapper" fxLayout="column" fxLayoutAlign="center none">
  <h2>ברוך הבא לעמוד רישום</h2>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <mat-form-field color="accent">
      <input matInput
      formControlName="id"
      (keyup)="checkError($event)"
      placeholder="תעודת זהות">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput
      formcontrolname="password"
      (keyup)=checkError($event)
      placeholder="סיסמה"
      type="password">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput
        formcontrolname="passwordConfirmation"
        (keyup)=checkError($event)
        placeholder="אימות סיסמה"
        type="password">
    </mat-form-field>

    <div class="card-info-wrapper">

      <h3>פרטי כרטיס אשראי</h3>

      <mat-form-field color="accent">
        <input matInput
          formcontrolname="cardNumber"
          (keyup)=checkError($event)
          placeholder="מספר כרטיס">
      </mat-form-field>

      <div class="additional-info" fxLayout="row" fxLayoutAlign="space-between none">

        <mat-form-field color="accent">
          <input matInput
            formcontrolname="cvv"
            (keyup)=checkError($event)
            placeholder="CVV">
        </mat-form-field>

        <mat-form-field>
          <mat-select formcontrolname="expMonth" (blur)=checkError($event) placeholder="חודש">
            <mat-option
              *ngFor="let month of months"
              [value]="month">
                {{ month }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select formcontrolname="expYear" (blur)=checkError($event) placeholder="שנה">
            <mat-option
              *ngFor="let year of years"
              [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <button mat-raised-button color="accent">הירשם</button>

  </form>


    <div class="login-wrapper">
      <a [routerLink]="['/login']">נרשמת בעבר?</a>
    </div>
  </div>
