@import 'src/assets/colors.scss';

/deep/
mat-tab-group {
  .mat-tab-labels {
    display: flex;
    justify-content: space-between;

    .mat-tab-label {
      width: 33.3%;
      height: 75px;
      color: $iph-darcqua;

      &:nth-child(1) {
        background: rgba(209, 219, 189, .2);

        &.mat-tab-label-active {
          background: $iph-cream;
        }
      }

      &:nth-child(2) {
        background: rgba(145, 170, 157, .2);

        &.mat-tab-label-active {
          background: $iph-grey-green;
        }
      }

      &:nth-child(3) {
        background: rgba(62, 96, 111, .2);

        &.mat-tab-label-active {
          background: $iph-acqua;
        }
      }
    }
  }
}
