<div class="profile-wrapper">
  <div class="wip-wrapper">
    <!-- <span></span>
    <img src="http://www.picgifs.com/graphics/w/work-in-progress/graphics-work-in-progress-413634.gif" border="0" />
    <img src="http://www.picgifs.com/graphics/w/work-in-progress/graphics-work-in-progress-034919.gif" border="0" />

    <img src="https://media.giphy.com/media/U6YZlFJv1BTqg/giphy.gif" /> -->

    <div class="message">
      <h1>אנחנו עובדים במרץ, נותרו רק עוד 3 ימים לחכות!</h1>
      <p>בינתיים אתה יכול להכין חמוצים הנה
        <a href="http://www.foodisgood.co.il/%D7%98%D7%99%D7%A4%D7%99%D7%9D/how-to-make-pickles/" target="_blank">מתכון</a>
        מצויין שאנחנו אוהבים.
      </p>
    </div>

    <video class="preview" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://g.redditmedia.com/EayX0-0Jx5VLwN-T2kkBvUptpZbMk1dqSyUxvxzqSF4.gif?w=720&amp;fm=mp4&amp;mp4-fragmented=false&amp;s=f659d179162ed51513acbdf80a97ca94" type="video/mp4">
      </video>

    </div>

  </div>
