<div class="profile-wrapper">
  <div *ngIf="!haveData;else show_data" class="wip-wrapper">
    <div class="message">
      <h1>אנחנו עובדים במרץ, נותרו רק עוד 3 ימים לחכות!</h1>
      <p>בינתיים אתה יכול להכין חמוצים הנה
        <a href="http://www.foodisgood.co.il/%D7%98%D7%99%D7%A4%D7%99%D7%9D/how-to-make-pickles/" target="_blank">מתכון</a>
        מצויין שאנחנו אוהבים.
      </p>
    </div>

    <video class="preview" preload="auto" autoplay="autoplay" muted="muted" loop="loop">
      <source src="/assets/waiting.mp4" type="video/mp4">
    </video>
  </div>



  <ng-template #show_data>
    <iph-bar-chart></iph-bar-chart>
  </ng-template>
</div>
