<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center none">
  <h2>ברוך הבא לעמוד כניסה</h2>
  <mat-form-field color="accent">
    <input matInput placeholder="תעודת זהות">
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput placeholder="סיסמה">
  </mat-form-field>

  <button mat-raised-button color="accent">התחבר</button>

  <div class="registration-wrapper">
    <mat-icon>person</mat-icon>
    <p>משתמש חדש?
      <a [routerLink]="['/registration']">הרשם כאן</a>
    </p>
  </div>

</div>
