<div class="example-container">
  <mat-form-field color="accent">
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field color="accent">
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
