@import 'src/assets/colors.scss';

:host(iph-login) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-wrapper {
    display: flex;
    padding: 0 12px;
    background-color: $iph-offWhite;
    width: 35%;
    padding: 20px 40px;
    text-align: center;

    h2 {
      color: $iph-acqua;
      margin-bottom: 30px;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
      color: $iph-darcqua;
    }

    button {
      margin-bottom: 20px;
    }

    .registration-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        color: $iph-grey-green;
        margin-left: 5px;
      }

      p {
        color: $iph-grey-green;

        a {
          color: $iph-acqua;
        }
      }
    }
  }
}
